<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/connexionForm.css">
    <title>Connexion Form</title>
</head>
<body>
    <div class="contentForm">
        <h1>Formulaire de connexion</h1>
        <div>
            <form action="/connexionForm" method="POST">
                <div>
                    <label for="nom">Votre nom</label>
                    <input type="text" id="nom" name="nom">
                </div>
                <div>
                    <label for="mail">Votre mail</label>
                    <input type="mail" id="mail" name="email">
                </div>
                <input type="submit" value="Connexion">
            </form>
        </div>
    </div>
</body>
</html>