<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/lien/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>
<body>

    <!-- navBarre -->
    <div class="contentNav">
        <nav class="navbar fixed-top navbar-expand-md navbar-dark">
            <div class="container">
            <a href="/" class="navbar-brand">
                <img src="../public/images/plume1.png" alt="">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#menuhamburger">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menuhamburger">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                <a href="/" class="nav-link">En savoir plus</a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">Engagements</a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">Me désabonner</a>
                </li>
                <li class="nav-item">
                <a href="/contact" class="nav-link">Nous contacter</a>
                </li>
                <li class="nav-item rejoindreClub">
                <a href="/rejoindre" class="nav-link">Rejoindre le club</a>
                </li>
            </ul>
            </div>
            </div>
        </nav>
    </div>
    


    <!-- banner -->
    <div class="bannerBg">
        <div class="container banner">
            <div class="row containImageEtTitre">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h1 class="">Découvrez comment réaliser chaque jour des économies</h1>
                    <p>Internet regorge d'offres et promotions en tous genres. Il est parfois difficile de faire le tri entre les bonnes et les mauvaises offres. Notre équipe travaille quotidiennement pour vous dénicher les meilleures offres. Découvrez les économies que vous pourrez réaliser..</p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image">
                    <img class="rounded" src="../public/images/shutterstock-697163962-500x334.jpg" alt="">
                </div>

            </div>
        </div>
    </div>

    <!--  -->

    <div class="container economie">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h1><strong>Des économies</strong> dans votre boîte email</h1>
                <p><strong>Sur internet, les marques font régulièrement des promotions et offres spéciales souvent limitées dans le temps. Nous sommes constamment à la recherche de ces offres et nous vous permettons de les recevoir chaque jour par email. Rejoignez notre club pour en bénéficier.</strong></p>
            </div>
        </div>
    </div>

    <!-- Offres -->
    <div class="container contentOffre">
        <div class="card-deck sectionOffre row">
            <div class="card col-lg-4 col-md-12 col-sm-12">
              <img src="../public/images/offre1-690x500.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card col-lg-4 col-md-12 col-sm-12">
              <img src="../public/images/offre2-690x500.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card col-lg-4 col-md-12 col-sm-12">
              <img src="../public/images/offre3-690x500.jpg" class="card-img-top" alt="...">
            </div>
        </div>
    </div>

    <!-- Nos engagements -->
   <div class="bgOrange">
        <div class="container engagement">
            <h1>
                NOS <strong>ENGAGEMENTS</strong>
            </h1>
            <div class="boites">
                <div class="colonne1">
                    <div class="row">
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Promotions limitées</h5>
                              <p class="card-text">Chaque jour, nous recherchons pour vous des promotions souvent limitées. Dès que nous en trouvons une, nous vous prévenons par email</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Respect de la vie privée</h5>
                              <p class="card-text">Nous nous engagons à protéger et à respecter votre vie privée. Nous utiliserons vos données personnelles uniquement pour vous fournir des offres personnalisées.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="colonne2">
                    <div class="row">
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Offres personnalisées</h5>
                              <p class="card-text">Lors de votre inscription, vous répondez à quelques questions qui nous permettent de vous envoyer des offres qui correspondent à vos attentes.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Désabonnement en 1 clic</h5>
                              <p class="card-text">Dans chaque email que vous recevrez de notre part, vous trouverez un lien vous permettant de vous désabonner facilement en un clic.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
   </div>
  
    
    
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="logoFoot">
                <img src="../public/images/plume1.png" alt="">
            </div>
            <div class="footLien">
                <a href="#">EN SAVOIR PLUS</a>
                <a href="#">NOUS CONTACTER</a>
                <a href="#">OFFRES</a>
                <a href="#">ME DESABONNER</a>
            </div>
            <div class="footLien">
                <a href="#">REJOINDRE LE CLUB</a>
                <a href="#">MENTIONS LEGALES</a>
                <a href="#">PROTECTION DES DONNEES</a>
            </div>
            <div class="copyright">
                <p>Nous contacter par courrier : EIixis DIGITAL-Service Abonnés  - 14, rue Rougemont 75009 Paris</p>
            </div>
        </div>
        
    </footer>
    







    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <script src="../public/lien/js/bootstrap.min.js"></script>
    <script src="../public/js/app.js"></script>
</body>
</html>