<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/lien/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/contact.css">
    <title>Document</title>
</head>
<body>
    

    <div class="container">
        <h1>Inscrivez-vous pour devenir membre :</h1>
        <form action="">
            <div class="row">
                <div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Adress email">
                    </div>
                    <div>
                        <select name="" id="" class="form-select">
                            <option value="" selected>Monsieur</option>
                            <option value="">Madame</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nom">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Prénom">
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Code postal">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ville">
                    </div>
                </div>
            </div>
        </form>
    </div>

    



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <script src="../public/lien/js/bootstrap.min.js"></script>
    <script src="../public/js/app.js"></script>
</body>
</html>