<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/lien/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/rejoindre.css">
    <title>Document</title>
</head>
<body>
    

    <div class="container">
        <h1>Inscrivez-vous pour devenir membre :</h1>
        <form action="/rejoindre" method="POST">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Adress email" id="
                            email" name="email">
                        </div>
                        <div>
                            <select name="civilite" id="civilite" class="form-select">
                                <option value="mr" selected>Monsieur</option>
                                <option value="mme">Madame</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nom" name="nom" id="nom">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Prénom" name="prenom" id="prenom">
                        </div>
                    </div>
    
                    <div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Code postal" name="codePostal" id="codePostal">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ville" name="ville" id="ville">
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control" placeholder="" name="anniversaire">
                        </div>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        J'ai lu la Politique de Protection des données à caractère personnel, et en validant j’accepte de recevoir des offres promotionnelles de la part d'Elixis Digital.
                    </label>
                </div>
                <button type="submit" class="btn btn-success">Je m'inscris</button>
            </div>
        </form>
    </div>

    



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <script src="../public/lien/js/bootstrap.min.js"></script>
    <script src="../public/js/app.js"></script>
</body>
</html>